* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#handshake {
	position: fixed;
	inset: 0;
	background: green;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: serif;
	cursor: pointer;
	z-index: 9999;
	font-size: 50px;
	animation: pulse 1.5s ease-in-out infinite;

}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: lightgreen;
}

button {
	border: none;
	background: lightyellow;
	color: lightgreen;
	transition: 0.3s;
	border-radius: 40%;
}

.playButton.active {
	background: orange;
	transform: scale(1.2);
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}